  <template>
    <div id="app" class="container-fluid">
      <nav-menu v-if="$store.state.login.isLoggedIn" params="route: route"></nav-menu>
      <div v-bind:class="{'col-md-8 offset-md-3 h-100': $store.state.login.isLoggedIn, 'col-sm-12 h-100': !$store.state.login.isLoggedIn}">
        <top-toolbar v-if="$store.state.login.isLoggedIn"></top-toolbar>
          <router-view></router-view>
      </div>
    </div>
  </template>

  <script>
    import NavMenu from './nav-menu';
    import TopToolbar from './top-toolbar';

    export default {
      components: {
        'nav-menu': NavMenu,
        'top-toolbar': TopToolbar
      },

      data() {
        return {}
      }
    }
  </script>

  <style lang="scss">
  </style>
