<template>
  <transition name="fade">
    <div class="mt-md-5">
      <h1 class="mb-md-5 mt-md-5">{{selectedEvent.eventTitle}}</h1>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <p class="font-weight-bold">{{selectedEvent.eventDescription}}</p>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputEmail1">Author</label>
            <p class="font-weight-bold">{{selectedEvent.createdUsername}}</p>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleSelect1">Event status</label>
            <p class="font-weight-bold">{{selectedEvent.eventStatus}}</p>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="example-datetime-local-input">Due date</label>
            <p class="font-weight-bold">{{selectedEvent.validUntil | formatDate}}</p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <button class="btn btn-warning float-right" v-if="isActive" @click="closeEventRedirect()">Close</button>
        </div>
      </div>

      <div class="row mt-5">
        <h1 class="mb-md-5 mt-md-5">Participants</h1>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Amount</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr class="selectable" v-for="item in selectedEvent.eventItems" track-by="name">
              <td>{{item.username}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </transition>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import localRoutes from '../vuex/utils/local-routes';
  import types from '../vuex/types/types';
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {
       
      }
    },
    computed: {
      ...mapGetters(['selectedEvent']),
      isActive() {
        return this.$store.getters.selectedEvent.eventStatus == types.EVENTSTATUSTYPE.ACTIVE.key;
      }
    },
    methods: {
      ...mapActions([actions.CLOSEEVENT]),
      closeEventRedirect: function () {
        this.closeEvent().then(() => {
          if (!this.$store.getters.error) {
            this.$router.push(localRoutes.SUCCESS)
          }
        }
        )
      },
    }
  }
</script>

<style>
</style>
