<template>
  <transition name="fade">
    <div class="h-100">
      <div class="h-100 flex-center" v-if="loading">
        <ball-scale-multiple-loader color="pink" size="150px"></ball-scale-multiple-loader>
      </div>
      <div v-if="!loading">
        <h1 class="mb-md-5 mt-md-5">Active events</h1>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Author</th>
              <th>Status</th>
              <th>Created</th>
              <th>Valid until</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="selectable" v-for="event in activeEvents" track-by="name">
              <td>{{event.eventTitle}}</td>
              <td>{{event.eventDescription}}</td>
              <td>{{event.createdUsername}}</td>
              <td>{{event.eventStatus}}</td>
              <td>{{event.timeCreated | formatDate}}</td>
              <td>{{event.validUntil | formatDate}}</td>
              <td>
                <button class="btn btn-outline-info" @click='eventDetailsRedirect(event)'>Details</button>
                <button class="btn btn-pink" @click='subscribeRedirect(event)'>Join</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </transition>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import localRoutes from '../vuex/utils/local-routes';
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {
      }
    },
    created() {
      //this.$store.dispatch(actions.GETEVENTLIST);
      this.$store.dispatch(actions.GETACTIVEEVENTS);
    },
    computed: {
      ...mapGetters(['activeEvents', 'loading'])
    },
    watch: {
      // call again the method if the route changes
      '$route': actions.GETACTIVEEVENTS
    },
    methods: {
      ...mapActions([actions.EVENTDETAILS, actions.NEWEVENT, actions.SUBSCRIPTION]),
      newEventRedirect: function () {
        this.newEvent().then(() => {
          this.$router.push(localRoutes.NEW_EVENT);
        });
      },
      eventDetailsRedirect: function (event) {
        this.eventDetails(event).then(() => {
          this.$router.push(localRoutes.EVENT_DETAILS);
        });
      },
      subscribeRedirect: function (event) {
        this.subscription(event).then(() => {
          this.$router.push(localRoutes.SUBSCRIBE_TO_EVENT);
        });
      }
    }
  }
</script>

<style>
</style>
