<template>
  <transition name="fade">
    <div class="h-100">
      <div class="h-100 flex-center" v-if="loading">
        <ball-scale-multiple-loader color="pink" size="150px"></ball-scale-multiple-loader>
      </div>
      <div class="row d-flex align-items-center justify-content-center" v-if="!loading">
        <div class="col-4 mx-auto mt-5">
          <h1 class="text-center text display-1 mb-5 text-info"><icon :icon="['fa', 'utensils']"></icon></h1>
          <div class="alert alert-danger" v-if="error || $store.state.login.error">
            <p class="text-center">{{error}}{{$store.state.login.error}}</p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your username" v-model="credentials.username" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter your password" v-model="credentials.password" />
          </div>
          <button type="button" class="btn btn-info btn-block mt-5" @click="validate()">Login</button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex';
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {
        credentials: {
          username: '',
          password: ''
        },
        error: ''
      }
    },
    computed: {
      ...mapGetters([
        'isLoggedIn',
        'loading'
      ])
    },
    methods: {
      ...mapActions([actions.LOGIN]),
      validate: function () {
        if (!this.credentials.username || !this.credentials.password) {
          this.error = "Username and password is required.";
          return false;
        }

        var payload = { 'username': this.credentials.username, 'password': this.credentials.password };
        this.login(payload).then(() => {

          if (!this.$store.getters.isLoggedIn) {
            return;
          }

          this.$router.push('/');
        });
      }
    },
  }
</script>
<style>
</style>
