<template>
    <div class="main-nav">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="p-2">
          <div class="m-b-4">
            <span class="text-light text-center text">Welcome {{$store.state.login.username}}!</span>
            <a class="text-light float-right" @click="logoutAndRedirect()" v-show="$store.state.login.isLoggedIn"><icon :icon="['fa', 'power-off']"></icon></a>
          </div>
          <router-link class="navbar-brand m-t-5" to="/"><icon :icon="['fa', 'utensils']"></icon> FOODO</router-link>
        </div>

        <transition name="slide">
          <div :class="'collapse navbar-collapse' + (!collapsed ? ' show':'')" v-show="!collapsed">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" v-for="(route, index) in routes" :key="index" v-if="route.allowDisplay">
                <router-link :to="route.path" exact-active-class="active">
                  <icon :icon="route.icon" class="mr-2" /><span>{{ route.display }}</span>
                </router-link>
              </li>
            </ul>
          </div>
        </transition>
      </nav>
    </div>
</template>

<script>
  import { routes } from '../router/routes';
  import { mapActions } from 'vuex';
  import actions from '../vuex/utils/action-names';

    export default {
      data () {
        return {
          routes,
          collapsed: true
        }
      },
      methods: {
        ...mapActions([actions.LOGOUT]),

        logoutAndRedirect() {
          this.logout().then(() => this.$router.replace({ path: 'login'}))
        },
      }
    }
</script>

<style scoped>
    .slide-enter-active, .slide-leave-active {
    transition: max-height .35s
    }
    .slide-enter, .slide-leave-to {
    max-height: 0px;
    }

    .slide-enter-to, .slide-leave {
    max-height: 20em;
    }
</style>
