<template>
  <transition name="fade">
    <div class="h-100">
      <div class="h-100 flex-center" v-if="loading">
        <ball-scale-multiple-loader color="pink" size="150px"></ball-scale-multiple-loader>
      </div>
      <div class="mt-md-5" v-if="!loading">
        <h1 class="mb-md-5 mt-md-5">New event</h1>
        <div class="form-group">
          <label for="event-title">Title</label>
          <input type="text" class="form-control" id="event-title" placeholder="Enter title" v-model="event.eventTitle">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter description" v-model="event.eventDescription">
        </div>
        <div class="form-group">
          <label for="exampleSelect1">Choose type of event</label>
          <select class="form-control" id="exampleSelect1" v-model="event.eventType">
            <option>Food order</option>
            <option>Group event</option>
            <option>Something else</option>
          </select>
        </div>
        <vue-ctk-date-time-picker v-model="event.validUntil"></vue-ctk-date-time-picker>
        <button class="btn btn-info float-right" @click="submit">Submit</button>
      </div>
    </div>
    </transition>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import localRoutes from '../vuex/utils/local-routes';
  import actions from '../vuex/utils/action-names';
export default {
  data () {
    return {
      event: {
        eventTitle: '',
        eventDescription: '',
        categoryId: '',
        eventType: '',
        validUntil: '',
        createdUsername: this.$store.getters.username
      }
    }
    },
    computed: {
      ...mapGetters(['loading'])
  },
  methods: {
    ...mapActions([actions.ADDNEWEVENT]),
    submit: function () {
      this.addNewEvent(this.event).then(() => {
        if (!this.$store.getters.error) {
          this.$router.push(localRoutes.EVENT_LIST);
        }
      });
    }
  }
}
</script>

<style>
  
</style>
