<template>
  <transition name="fade">
    <div>
      <h1 class="mb-md-5 mt-md-5">New user</h1>
      <div class="alert alert-danger" v-if="error">
        <p>{{error}}</p>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter username" v-model="credentials.username" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter email" v-model="credentials.email" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter password" v-model="credentials.password" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter password again" v-model="credentials.passwordConfirm" />
      </div>
      <button type="button" class="btn btn-info float-right" @click="validate()">Add</button>
    </div>
  </transition>
</template>
<script>
  import { mapActions } from 'vuex';
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {
        credentials: {
          username: '',
          password: '',
          passwordConfirm: ''
        },
        error: ''
      }
    },
    methods: {
      ...mapActions([actions.addNewUser]),
      validate: function () {

        if (!this.credentials.username || !this.credentials.password || !this.credentials.passwordConfirm) {
          this.error = "All fields are required.";
          return false;
        }

        if (!this.credentials.password != !this.credentials.passwordConfirm) {
          this.error = "Password and password confirm must be same.";
          return false;
        }

        this.addNewUser(this.credentials).then(() => {
          this.$router.push('/users');
        });
      }
    },
  }
</script>
<style>
</style>
