<template>
  <transition name="fade">
    <div class="mt-md-5">
      <h1 class="mb-md-5 mt-md-5">Subscribe</h1>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" v-model="eventItem.description">
      </div>

      <div class="form-group">
        <label for="description">Amount</label>
        <input type="text" class="form-control" id="amount" placeholder="Enter amount" v-model="eventItem.amount">
      </div>

      <button class="btn btn-info float-right" @click="submit">Submit</button>
    </div>
  </transition>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import localRoutes from '../vuex/utils/local-routes';
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {
        eventItem: {
          description: '',
          amount: '',
          username: this.$store.getters.username
        }
      }
    },
    computed: {
    },
    methods: {
      ...mapActions([actions.SUBSCRIBETOEVENT]),
      submit: function () {
        this.subscribe(this.eventItem).then(() => {
          if (!this.$store.getters.error) {
            this.$router.push(localRoutes.SUCCESS);
          }
        });
      }
    }
  }
</script>

<style>
</style>
