<template>
  <transition name="fade">
    <div class="text-center">
      <h1 class="text-info">Success!</h1>
      <div class="mt-5">
        <h1 class="text-info display-1"><icon :icon="['fa', 'thumbs-up']"></icon></h1>
        <p class="mt-5">{{success}}</p>
      </div>

      <button type="button" class="btn btn-outline-info mt-5" @click="back()">Go back</button>
    </div>
  </transition>
</template>
<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    data() {
      return {}
    },
    computed: {
      ...mapGetters(['success'])
    },
    methods: {
      back: function () {
        this.$router.go(-1);
      }
    }
  }
</script>
<style>
</style>
