<template>
  <div class="top-navigation pt-3 clearfix">
    <button class="btn btn-outline-info float-right" @click="newEventRedirect()"><icon :icon="['fa', 'calendar-alt']" class="mr-1"></icon> New event</button>
    <button class="btn btn-outline-info float-left" @click="back()"><icon :icon="['fa', 'arrow-left']" class="mr-1"></icon> Back</button>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {}
    },
    computed: {
      isBackVisible: function () {
        return this.$router.currentRoute.path != '/';
      }
    },
    methods: {
      ...mapActions([actions.EVENTDETAILS, actions.NEWEVENT]),
      newEventRedirect: function () {
        this.newEvent().then(() => {
          this.$router.push('/new-event');
        });
      },
      back: function () {
        this.$router.go(-1);
      }
    }
  }
</script>

