<template>
  <transition name="fade">
    <div>
      <h1 class="mb-md-5 mt-md-5">List of transactions</h1>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Type</th>
            <th>Status</th>
            <th>Source type</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="trans in allTransactions" track-by="name">
            <td>{{trans.amount}}</td>
            <td>{{trans.type}}</td>
            <td>{{trans.status}}</td>
            <td>{{trans.sourceType}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </transition>
</template>

<script>
  import { mapGetters } from 'vuex';
  import actions from '../vuex/utils/action-names.js';

  export default {
    data() {
      return {}
    },
    created() {
      this.$store.dispatch(actions.GETTRANSACTIONLIST);
    },
    watch: {
      // call again the method if the route changes
      '$route': actions.GETTRANSACTIONLIST
    },
    computed: {
      ...mapGetters(['allTransactions'])
    },
    methods: {
    }
  }
</script>

<style>
</style>
