<template>
  <transition name="fade">
    <div class="mt-md-5">
      <h1 class="mb-md-5 mt-md-5">{{selectedUser.username}}</h1>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Created</label>
            <p class="font-weight-bold">{{selectedUser.timeCreated}}</p>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Balance</label>
            <p class="font-weight-bold">{{selectedUser.balance}}</p>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Status</label>
            <p class="font-weight-bold">{{selectedUser.status}}</p>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <button class="btn btn-warning float-right" @click="updateStatusRedirect()">Disable</button>
        </div>
      </div>

      <div class="row mt-5">
        <h1 class="mb-md-5 mt-md-5">Subscription history</h1>
        <!--<table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Time of subscription</th>
            </tr>
          </thead>
          <tbody>
            <tr class="selectable" v-for="subscriber in selectedEvent.subscribers" track-by="name">
              <td>{{subscriber.name}}</td>
              <td>{{subscriber.description}}</td>
              <td>{{subscriber.amount}}</td>
              <td>{{subscriber.timeOfSubscription}}</td>
            </tr>
          </tbody>
        </table>-->
      </div>
    </div>
  </transition>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {

      }
    },
    computed: {
      ...mapGetters(['selectedUser']),

    },
    methods: {
      ...mapActions([actions.UPDATEUSERSTATUS]),
      updateStatusRedirect: function () {
        this.updateStatus(this.selectedUser.username).then(() =>
          this.$router.push('/user-details')
        )},
    }
  }
</script>

<style>
</style>
