<template>
  <transition name="fade">
    <div>
      <h1 class="mb-md-5 mt-md-5">List of users</h1>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Balance</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in userList" track-by="name">
            <td>{{user.username}}</td>
            <td>{{user.timeCreated | formatDate}}</td>
            <td>{{user.balance}}</td>
            <td>{{user.status}}</td>
            <td><button class="btn btn-outline-info" @click='userDetailsRedirect(user)'>Details</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-info float-right" @click="addNewUserRedirect()">Add new</button>
    </div>
  </transition>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import actions from '../vuex/utils/action-names';

  export default {
    data() {
      return {}
    },
    created() {
      this.$store.dispatch(actions.GETUSERLIST);
    },
    computed: {
      ...mapGetters(['userList'])
    },
    watch: {
      // call again the method if the route changes
      '$route': actions.GETUSERLIST
    },
    methods: {
      ...mapActions([actions.USERDETAILS, actions.NEWUSER, actions.GETUSERLIST]),
      userDetailsRedirect: function (user) {
        this.getUserDetails(user).then(() => {
          this.$router.push('/user-details')
        })
      },
      addNewUserRedirect: function () {
        this.newUser().then(() => {
          this.$router.push('/new-user');
        });
      },
    }
  }
</script>

<style>
</style>
