@import url(https://fonts.googleapis.com/css?family=Quicksand);

$main-color: #568ea6;
$secondary-color: #f18c8e;

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    min-height: 100vh;
}
/* This file should be reviewed. It's not optimal, but it works for now. */
.navbar {
    display: list-item;
}

html, body {
    margin: 0;
    padding: 0;
}

html, #app {
    min-height: 100vh;
    height: 100vh;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .6s ease;
}

.slide-fade-leave-active {
    transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

/* Highlighting rules for nav menu items */
.nav-item a.active,
.nav-item a.active:hover,
.nav-item a.active:focus {
    color: white;
    text-decoration: underline;
}

.flex-center {
    display: flex !important;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.btn {
    margin: 5px;
}

.nav-item a,
.nav-item a:hover,
.nav-item a:focus {
    color: white;
}

.ctk-date-time-picker, .ctk-date-time-picker input, .ctk-date-time-picker label, .ctk-date-time-picker p, .ctk-date-time-picker span {
    font-family: 'Quicksand', sans-serif !important;
}

.selectable:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
}

p {
    margin-bottom: 0;
}

.btn-pink {
    background-color: $secondary-color;
    color: white;
    border: none;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

.btn-pink-outline {
    background-color: transparent;
    border-color: $secondary-color;
    color: $secondary-color;

    &:hover {
        border-color: darken($secondary-color, 10%);
        background-color: darken($secondary-color, 10%);
        color: white;
    }
}

thead tr {
    text-transform: uppercase;
    background-color: $secondary-color;
    color: white;

    th {
        font-size: 0.8em;
        border-bottom: none;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.form-control:focus {
    box-shadow: none;
    border-color: #17a2b8;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-brand {
    padding: 20px 0 0;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 130px;
    }

    .top-navigation {
        padding-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(20% - 20px);
    }

    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }

    .navbar-header {
        float: none;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .navbar-collapse ul {
        float: none;
    }

    .nav-item {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    .nav-item a {
        padding: 10px 16px;
        border-radius: 4px;
        color: white;
    }

    .navbar a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
